body {
    background-color: #041937;
    color: #4b3e06;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 710px;
    border: 1px solid #4b3e06;
    background-color: #151B36;
    padding: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4b3e06;
    font-family: 'Dongle', cursive;
    font-size: 1em;
}
/* .box-login {
    flex-shrink: 0;
    background: #fff;
    border-radius: 5px;
} */
h2 {
    text-align: center;
}
.form-groupe {
    position: relative;
}
label {
    margin: 5px 23px;
    font-size: 20px;
    padding: 10px 0 5px 0;
    display: block;
    position: relative;
}
input {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    background: rgb(226,226,226);
    width: 330px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,0.3);
}

.icone-verif {
    width: 30px;
    position: absolute;
    right: 27px;
    top: 57px;
    display: none;
}
.message-alerte {
    margin: 0px 23px;
    color: crimson;
    display: none;
}
button {
    display: block;
    margin: 30px auto;
    outline: 0;
    background: #4b3e06;
    width: 90%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
    background: rgb(252,181,49);
}
button:active {
    background: rgb(250,165,9);
}
.ligne {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.l1, .l2, .l3 {
    width: 30%;
    height: 5px;
    margin: 15px 5px 20px;
    position: relative;
    display: none;
}
.l1 {
    background: rgb(182,182,13);
}
.l2 {
    background: rgb(232, 22, 22);
}
.l3 {
    background: green;
}
.ligne span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}